---
---

@import "{{ site.theme }}";



html{
  background-color: #FFFFFF;
}

body {
    overflow: auto;
    // margin: 0.1rem;
    padding: 0;
    background-color: #64648d;
}
.wrapper{
    margin: auto;
    //max-width: 90vw;
    padding: 10px;
    background-color: #3f3f3f;
    border-radius: 5px;
    max-width: 670px;
}
.canvas-holder{
    width:80vw;
    max-width: 650px;
    max-height: 650px;
    position: relative;
    top: 0;
}

.content-main{
    max-width: 90vw;
    margin: auto;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: dimgrey;
    overflow-x: hidden;
    padding-top: 100px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: gold;
    display: block;
}

.sidenav a:hover {
    color: greenyellow;
}

.sidenav .closebtn {
  position: absolute;
  top: 50px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  position: fixed;
  top: 50px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  background-color: #111;
  margin: 0 5px;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.content-main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 0.1rem;
}

.itemList{
  display: flex;
  overflow: auto;
  list-style-type: none;
}

.gallery-image{
  object-fit: contain;
  height:300px;
  width:300px;
  max-width: 90vw;
  background-color: #111;
}

.gallery-video{
  width: 500px;
  height: 350px;
  max-width: 90vw;
  max-height: 90vw;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

